.chatcom {
  position: fixed;
  right: 30px;
  bottom: 0;
  font-size: 80px;
  color: #f075;
  cursor: pointer;
  z-index: 1000;
}

.chatcom {
  position: fixed;
  right: 30px;
  bottom: 0;
  font-size: 80px;
  color: #0000ff;
  cursor: pointer;
  z-index: 1000;
}

.chat_box {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 400px;
  height: 75vh;
  background: rgba(0, 128, 0, 0.3);
  z-index: 1000%;
  transition: all 0.3s ease-out;
  transform: scaleY(0);
}

.chat_box.active {
  transform: scaleY(1);
}
