
$primary: #1A1D53;
$secondary: #09D3AF;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

#loginLogo{
    height: auto;
    width: 20%;
}

#loginText{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color: $secondary;
}

#infoText{
    font-family: 'Lato', sans-serif !important;
    font-weight: 100;
    color: $secondary;
}

#btnOTP{
    color: $secondary;
    background-color:#09D3AF;
    color: #1A1D53;
    font-weight: 700;
    font-size: 100%;
}

#btnLogin{
    color: var(--secondary);
    background-color:#09D3AF;
    color: #1A1D53;
    font-weight: 700;
    font-size: medium;
    font-size: 100%;
}

