$primary: #1a1d53;
$secondary: #09d3af;
$body-bg: $primary;

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  font-family: "Poppins", sans-serif;
}

.container-fluid img {
  height: auto;
  max-width: 10%;
}

.form-label {
  font-family: "Poppins", sans-serif;
  color: $secondary;
}

#loginText {
  font-family: "Poppins", sans-serif;
  color: $secondary;
}

#inputEmail {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

#inputPassword {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
  margin-bottom: 0.2cm;
}

.chatcom {
  position: fixed;
  right: 30px;
  bottom: 0;
  font-size: 80px;
  color: #0000ff;
  cursor: pointer;
  z-index: 1000;
}
